.content-card {
  color: #fff;

  &__image-and-content {
    display: flex;

    justify-content: start;
    padding: 60px 50px;
    gap: 50px;

    &__side-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: justify;

      padding: 50px;

      gap: 50px;

      &__title {
        font-size: 30px;
        font-weight: bold;
      }

      &__subtitle {
        text-align: left;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 25px;
        text-align: justify;
      }
    }

    &__image {
      width: 49%;
      height: fit-content;
      align-self: start;
    }
  }

  &__description {
    text-align: left;
    font-size: 16px;

    padding: 0 50px 50px;
  }
}
