/*Contact section start*/

.contact-templatemo_banner_panel {
    position: relative;

    width: 100%;

    display: flex;
    justify-content: center;
}


.Contact {
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;

    margin: 60px auto 0;
    width: fit-content;
}

.Trustee {
    color: white;
    font-size: 20px;
    padding: 10px;

    margin: auto;
    width: fit-content;

    margin-top: 16px;
}


.Reach {
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;

    margin: 60px auto 20px;

    width: fit-content;
}

.Reach_det {
    color: white;
    font-size: 20px;
    padding: 10px;

    margin: auto;

    width: fit-content;
}

.Timings {
    color: white;
    font-size: 20px;
    padding: 10px;

    margin: auto;

    width: fit-content;

    line-height: 30px;

    text-align: center;
}

.contact-rituals-puja-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;

    margin: 50px auto;

    gap: 16px;
}

.contact-rituals-puja-card {
    color: white;
    display: flex;
    min-width: 48%;

    gap: 10px;
}

.contact-image-box {
    width: 50px;
    height: 50px;
}

.contact-description-box {
    font-size: 16px;

    display: flex;
    align-items: center;

}

.contact-description-content {
    width: 100%;
}

.shiva_nandi {
    display: flex;

    justify-content: center;

    margin-top: 60px;
}

/*End of Contact section*/




.rituals-reach-card {
    color: white;
    display: flex;

    width: 800px;
    margin: 60px auto;

    gap: 32px;
}

.reach-box {
    width: 177px;
    height: 106px;
}

.contact-description-reach-box {
    height: 106px;
    font-size: 16px;

    display: flex;
    align-items: center;
}

.description-reach-content {
    width: 100%;
    line-height: 25px;

}

/*end of how to reach section*/