#Trust_panel {
  position: relative;
}
#Trust_section {
  position: relative;
  text-align: center;
  top: 30px;
}

#trust_ban {
  position: relative;
  max-width: 95%;
  max-height: auto;
}
#ABOUT_TRUST {
  position: relative;
  text-align: center;
  top: 50px;
}

#ABOUT_TRUST ul li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#about_trust_desc {
  position: relative;
  text-align: left;
  top: 70px;
}

#about_trust_desc ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#about_temple_info2 {
  position: relative;
  text-align: left;
  line-height: 20px;
  top: -60px;
}

#trust_detail {
  position: relative;
  top: 80px;
}
#trust_detail ul li a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  list-style: none;
}

#trust_mem {
  position: relative;
  text-align: left;
  top: 80px;
}

#trust_mem ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#committee {
  position: relative;
  text-align: left;
  top: 100px;
}

#committee ul li a {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

#committee_d {
  position: relative;
  text-align: left;
  top: 105px;
}

#committee_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

/*end of About Temple*/
/*special puja Section*/
#project {
  position: relative;
  text-align: center;
  top: 80px;
}

#project ul li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#project1 {
  position: relative;
  max-width: 95%;
  max-height: auto;
  top: 100px;
}

#pro_projects {
  position: relative;
  text-align: left;
  top: 130px;
}

#pro_projects ul li a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#pro_projects_d {
  position: relative;
  text-align: left;
  top: 100px;
  left: 200px;
}

#pro_projects_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#pro_gop {
  position: relative;
  top: 120;
  left: -430;
}

#pro_projects_d2 {
  position: relative;
  text-align: left;
  top: -250px;
  left: 440px;
}

#pro_projects_d2 ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#goshala {
  position: relative;
  left: 215px;
}

#goshala_d {
  position: relative;
  text-align: left;
  top: -280px;
}

#goshala_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#proj_annad_pic {
  position: relative;
  left: -420px;
}

#annadanam_d {
  position: relative;
  text-align: left;
  top: -280px;
  left: 450px;
}

#annadanam_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#annadanam_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#emp_det {
  position: relative;
  text-align: center;
}

#Palki ul li a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#Palki_pic {
  position: relative;
  left: 40px;
  top: 30px;
}

#emp_det_d {
  position: relative;
  text-align: left;
  top: 35px;
}

#emp_det_d ul li a {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}
