#Trust_section {
  text-align: center;
}

#trust_ban {
  max-width: 1366px;
  width: 100%;
  height: auto;

  margin-top: 50px;
}
#ABOUT_TRUST {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#ABOUT_TRUST a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#about_trust_desc {
  text-align: left;
  width: 1200px;
  margin: auto;
}

#about_trust_desc a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#about_temple_info2 {
  text-align: left;
  line-height: 20px;
}

#trust_detail {
  width: 1200px;
  margin: auto;

  margin-top: 50px;
  margin-bottom: 25px;
}
#trust_detail a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  list-style: none;
}

#trust_mem {
  text-align: left;
  width: 1200px;
  margin: auto;
}

#trust_mem a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#committee {
  text-align: left;
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

#committee a {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

#trust-committee_d {
  width: 1200px;
  margin: auto;
}

#trust-committee_d a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#project {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#project a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#project1 {
  max-width: 1366px;
  width: 100%;
  height: auto;
}

#pro_projects {
  text-align: center;

  margin-top: 50px;
  margin-bottom: 25px;
}

#pro_projects a {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

#pro_projects_d {
  text-align: center;
}

#pro_projects_d a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#pro_gop {
}

#pro_projects_d2 {
  text-align: left;
}

#pro_projects_d2 a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

#goshala {
}

#goshala_d {
  text-align: left;
}

#goshala_d a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

#annadanam_d {
  text-align: left;
}

#annadanam_d a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

#emp_det {
  text-align: center;

  margin-top: 50px;

  margin-bottom: 50px;
}

#emp_det_d {
  text-align: left;

  width: 1200px;
  margin: auto;
}

#emp_det_d a {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.trust-page {
  line-height: 30px;
}

.project-card {
  display: flex;

  justify-content: space-evenly;

  margin-top: 50px;

  align-items: center;
}
