#Trust_panel {
}
#Trust_section {
  
  text-align: center;
}

#trust_ban {
  
  max-width: 95%;
  max-height: auto;
}
#ABOUT_TRUST {
  
  text-align: center;
}

#ABOUT_TRUST ul li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#about_trust_desc {
  
  text-align: left;
}

#about_trust_desc ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#about_temple_info2 {
  
  text-align: left;
  line-height: 20px;
}

#trust_detail {
  
}
#trust_detail ul li a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  list-style: none;
}

#trust_mem {
  
  text-align: left;
}

#trust_mem ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#committee {
  
  text-align: left;
}

#committee ul li a {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

#trust-committee_d {
}

#trust-committee_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#project {
  
  text-align: center;
}

#project ul li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#project1 {
  
  max-width: 95%;
  max-height: auto;
}

#pro_projects {
  
  text-align: left;
}

#pro_projects ul li a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#pro_projects_d {
  
  text-align: left;
}

#pro_projects_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#pro_gop {
  
}

#pro_projects_d2 {
  
  text-align: left;
}

#pro_projects_d2 ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#goshala {
  
}

#goshala_d {
  
  text-align: left;
}

#goshala_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#proj_annad_pic {
  
}

#annadanam_d {
  
  text-align: left;
}

#annadanam_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#annadanam_d ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#emp_det {
  
  text-align: center;
}

#Palki ul li a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#Palki_pic {
  
}

#emp_det_d {
  
  text-align: left;
}

#emp_det_d ul li a {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.trust-page {
  line-height: 30px;
}