#slider {
  width: 300px;
  height: 350px;

  cursor: pointer;
}
#slider2 {
  position: relative;
  width: 300px;
  height: 350px;
  cursor: pointer;
}

#slider3 {
  position: relative;
  width: 300px;
  height: 350px;
  cursor: pointer;
}

#slider4 {
  width: 300px;
  height: 350px;
  cursor: pointer;
}
