#templatemo_news_panel {
  position: relative;
  height: 25px;
  background: url(./assets/templatemo_menu_bg.gif) repeat-x;
  color: #ffffff;
  display: flex;
  top: 15px;
}
#templatemo_textupd_section {
  width: calc(100% - 105px);
  overflow: hidden;
}

#templatemo_news_section {
  width: 105px;
}

#templatemo_news_section ul {
  /* float: left; */
  /* width: 930px; */
  margin: 0;
  /* position: relative; */
  /* top: 3px; */
  list-style: none;
  padding-left: 20px;
  padding-top: 4px;
}

#templatemo_textupd_section ul {
  float: left;
  width: 930px;
  margin: 0;
  position: relative;
  left: -10px;
  top: 3px;
  list-style: none;
  flex-wrap: nowrap;
}

#templatemo_news_section ul li a {
  float: left;
  /* width: 110px; */
  /* padding: 0px 0; */
  /* position: absolute; */
  /* margin-right: 5px; */
  font-size: 12px;
  font-weight: bold;
  /* text-align: center; */
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
  /* z-index: 200; */
}

#templatemo_textupd_section ul li a {
  float: left;
  display: flex;
  white-space: nowrap;
  width: 2400px;
  padding: 0px 0;
  right: 0px;
  position: absolute;
  left: 0;
  word-spacing: 1px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  transform: translateX(100%);
  animation: moving 50s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.templatemo_slider_section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 25px;
}
