#templatemo_bottom_panel {
  margin: 0 auto;
  border-top: 5px solid #000000;
  background-color: #0c0600;
  background: #0c0600 url(./assets/templatemo_footer_bg.jpg) center top no-repeat;
}

#templatemo_bottom_section {
  width: 930px;
  margin: 0 auto;
  height: 150px;
  margin-top: 25px;

  display: flex;
  justify-content: space-evenly;
}

.templatemo_bottom_section_content {
  width: 270px;
}

.templatemo_bottom_section_content ul {
  padding: 0;
  margin: 2px;
}

.templatemo_bottom_section_content li {
  list-style: none;
}

.templatemo_bottom_section_content li a {
  color: #dbc1a7;
}

.templatemo_bottom_section_content .contact {
  position: relative;
  right: 35px;
}
