#templatemo_ourprograms_panel {
  margin: auto;
  color: #dbc1a7;

  display: flex;
  flex-direction: column;
  row-gap: 25px;

  margin-top: 60px;
}

#templatemo_ourprograms_section {
  background: url(./assets/templatemo_menu_bg.gif);
  width: 33%;
  align-self: center;
}

#templatemo_ourprograms_section ul {
  padding: 0;
}

#templatemo_ourprograms_section ul li {
  list-style: none;
  text-align: center;
}

#templatemo_ourprograms_section ul li a {
  list-style-type: none;
  color: #dbc1a7;
  font-size: 35px;
  text-decoration: none;
}

#templatemo_kas {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

#templatemo_ourprogs_k_panel {
  width: 25%;
  color: #ffffff;
}

#templatemo_ourprogs_k_section {
  background: url(./assets/templatemo_menu_bg.gif);
  height: 50px;
}

#templatemo_ourprogs_k_section ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

#templatemo_ourprogs_k_section ul li {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#templatemo_ourprogs_k_section ul li a {
  list-style-type: none;
  color: #dbc1a7;
  text-decoration: none;
  font-size: 20px;
}

#templatemo_ourprogs_s_panel {
  width: 25%;
  color: #dbc1a7;
}

#templatemo_ourprogs_s_section {
  background: url(./assets/templatemo_menu_bg.gif);
  height: 50px;
}

#templatemo_ourprogs_s_section ul li {
  list-style: none;
}

#templatemo_ourprogs_s_section ul li a {
  float: center;
  width: 930px;
  margin: 0;
  position: relative;
  right: -15px;
  top: 10px;
  list-style-type: none;
  color: #dbc1a7;
  font-size: 20px;
}

#templatemo_ourprogs_a_panel {
  width: 25%;
  color: #dbc1a7;
}

#templatemo_ourprogs_a_section {
  background: url(./assets/templatemo_menu_bg.gif);
  height: 50px;
}

#templatemo_ourprogs_a_section ul li {
  list-style: none;
}

#templatemo_ourprogs_a_section ul li a {
  float: center;
  width: 930px;
  margin: 0;
  position: relative;
  right: 10px;
  top: 10px;
  list-style-type: none;
  color: #dbc1a7;
  font-size: 20px;
}

.templatemo_our_prog_section {
  display: flex;
  justify-content: space-evenly;
}
