#templatemo_Album_panel {
  width: 30%;
  height: 45px;
  margin: 0 auto;
  background: url(./assets/templatemo_menu_bg.gif);
  color: #ffffff;
  height: 50px;
  margin-top: 25px;
}

#templatemo_Album_section ul {
  padding: 0;
  margin: 0;
  height: 50px;
}

#templatemo_Album_section ul li {
  list-style: none;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#templatemo_Album_section ul li a {
  float: center;
  list-style-type: none;
  color: #dbc1a7;
  font-size: 25px;

  text-decoration: none;
}

/* end of album section*/

#Album_Photos {
  margin-top: 25px;
}

.Album_pic {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Album_pic img {
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.Album_pic img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

#templatemo_vmore_panel {
  width: 15%;
  height: 50px;
  margin: 0 auto;
  color: #ffffff;
  height: 50px;

  margin-top: 25px;
  padding-bottom: 25px;
}

#templatemo_vmore_section {
  background: url(./assets/templatemo_menu_bg.gif);
}

#templatemo_vmore_section ul {
  margin: 0;
  padding: 0;
  height: 50px;
}

#templatemo_vmore_section ul li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#templatemo_vmore_section ul li a {
  float: center;
  list-style-type: none;
  color: #dbc1a7;
  font-size: 20px;

  text-decoration: none;
}
