.app {
  &__container {
    overflow: visible;
    height: 100%;

    margin: 0 auto;
    background: url(./assets/templatemo_content_bg.gif);
    background-repeat: repeat;
    position: relative;

    display: flex;
    justify-content: center;

    &__content-wrapper {
      max-width: 1366px;
      width: 100%;
    }
  }
}
