/*
CSS Credit: http://www.templatemo.com/
*/
html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #1a0d00;
  background: #4c4c4c;
}

a:link,
a:visited {
  color: #990000;
  text-decoration: none;
}
a:active,
a:hover {
  color: #000000;
  text-decoration: underline;
}

h1 {
  margin: 0px;
  font-size: 26px;
  color: #ffffff;
  line-height: 30px;
  font-family: "Bookman Old Style";
}

h2 {
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
  font-size: 20px;
  color: #dbc1a7;
  border-bottom: 1px dotted #663e17;
}

h3 {
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
  font-size: 20px;
  color: #a6703c;
  border-bottom: 1px dotted #663e17;
}

p {
  margin: 0px;
  padding: 0 0 10px 0;
  text-align: justify;
}

.cleaner {
  clear: both;
  width: 100%;
  height: 1px;
}

/* ----- Form ----- */

form {
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: right;
}

.inputfield {
  background: #ffffff;
  border: 1px solid #c9f5f6;
  color: #000;
  font-size: 13px;
  font-variant: normal;
  height: 14px;
  line-height: normal;
  padding: 4px;
  margin-bottom: 5px;
  width: 240px;
}

.button {
  width: 60px;
  height: 25px;
}

/* end of form */

/* ----- Form1 ----- */

form1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: left;
}

#templatemo_header_panel {
  
  position: relative;
  margin: 0 auto;
  background-color: #0c0600;
  color: #dbc1a7;
  height: 205px;
}

#logo {
  width: 220px;
  height: 220px;
  margin-top: -182px;
  position: relative;
}

#flag {
  width: 32px;
  height: 32px;
  margin-top: -180px;
  vertical-align: middle;
  margin: -406px 0px 10px -125px;
  position: relative;
}

#rod {
  width: 30px;
  height: 80px;
  margin-top: -180px;
  vertical-align: middle;
  margin: -380px 0px 10px -51px;
  position: relative;
}

#rod2 {
  width: 30px;
  height: 80px;
  margin-top: -180px;
  vertical-align: middle;
  margin: -380px 0px -70px -33px;
  position: relative;
}

#Lingam {
    width: 220px;
    height: 220px;
    position: absolute;
    right: 0;
    top: 43px;
    width: auto;
}

#templatemo_header_panel #templatemo_title_section {
  width: 960px;
  height: 132px; /* +73 ( padding ) */
  margin: 0 auto;
  padding-top: 73px;
  background: url(images/templatemo_title_bg.jpg) center top no-repeat;
  text-align: center;
}

/*background-image*/

#templatemo_content_container {
  overflow: visible;
  height: 100%;
  
  margin: 0 auto;
  background: url(images/templatemo_content_bg.gif);
  background-repeat: repeat;
  position: relative;
}

/*end of background-image*/

/*  menu */
#templatemo_menu_panel {
  
  height: 45px;
  margin: 0 auto;
  background: url(images/templatemo_menu_bg.gif) repeat;
  color: #ffffff;
  position: relative;
  z-index: 5;
}

#templatemo_menu_panel #templatemo_menu_section {
  width: 930px;
  margin: 0 auto;
  padding: 0 0 0 30px;
  text-align: center;
  z-index: 5;
}

#templatemo_menu_section ul {
  margin: 0;
  padding: 7px 0 0 3px;
  list-style: none;
  position: relative;
  z-index: 5;
}

#templatemo_menu_section ul li a {
  float: left;
  width: 110px;
  padding: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
  z-index: 5;
}

#templatemo_menu_section li a:hover,
#templatemo_menu_section li .current {
  color: #ffffff;
  border-bottom: 3px solid #703901;
  z-index: 5;
}

/*2nd part*/

.about-menu-label {
  color: #ffffff;
  border-bottom: 3px solid #703901;
  float: left;
  width: 110px;
  padding: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
  z-index: 5;
}

.about-menu:hover .sub-menu-1 {
  display: block;
  border-bottom: 3px solid #472400;
  z-index: 5;
}

.about-menu:hover {
  border-bottom: none;
  z-index: 5;
}

.about-menu-label:hover {
  border-bottom: 3px solid #703901;
  z-index: 5;
}

.about-menu:hover .sub-menu-1,
.sub-menu-1:hover {
  display: block;
}

.sub-menu-1 {
    display: none;
    position: absolute;
    /* margin: 10px; */
    left: 114px;
    background: url(images/templatemo_menu_bg.gif);
    top: 39px;
    border-bottom: 3px solid #472400;
    z-index: 5;
    background-repeat-y: no-repeat;
    background-size: contain;
}

.sub-menu-1:hover {
  border-bottom: 3px solid #703901;
  z-index: 5;
}

.sub-menu-1 ul {
    height: 40px;
}

.sub-menu-1 ul li {
    height: 100%;
}

/*rituals-menu*/

.rituals-menu-label {
  color: #ffffff;
  border-bottom: 3px solid #703901;
  float: left;
  width: 110px;
  padding: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
}

.rituals-menu:hover .sub-menu-2 {
  display: block;
  border-bottom: 3px solid #472400;
}

.rituals-menu:hover {
  border-bottom: none;
}

.rituals-menu-label:hover {
  border-bottom: 3px solid #703901;
}

.sub-menu-2 {
  display: none;
  position: absolute;
  margin: 10px;
  left: 220px;
  
  background: url(images/templatemo_menu_bg.gif);
  top: 28.5px;
  border-bottom: 3px solid #472400;
}
/*trust menu*/

.trust-menu-label {
  color: #ffffff;
  border-bottom: 3px solid #703901;
  float: left;
  width: 110px;
  padding: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
}

.trust-menu:hover .sub-menu-3 {
  display: block;
  border-bottom: 3px solid #472400;
}

.trust-menu:hover {
  border-bottom: none;
}

.trust-menu-label:hover {
  border-bottom: 3px solid #703901;
}

.sub-menu-3 {
  display: none;
  position: absolute;
  margin: 10px;
  left: 334px;
  top: 28.5px;
  background: url(images/templatemo_menu_bg.gif);
  border-bottom: 3px solid #472400;
}

/* end of rituals menu */
.donation-menu-label {
  color: #ffffff;
  border-bottom: 3px solid #703901;
  float: left;
  width: 110px;
  padding: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
}

.donation-menu:hover .sub-menu-4 {
  display: block;
  border-bottom: 3px solid #472400;
}

.donation-menu:hover {
  border-bottom: none;
}

.donation-menu-label:hover {
  border-bottom: 3px solid #703901;
}

.sub-menu-4 {
  display: none;
  position: absolute;
  margin: 10px;
  left: 450px;
  background: url(images/templatemo_menu_bg.gif);
  top: 29px;
  border-bottom: 3px solid #472400;
}

/* end of rituals menu */

/*contact*/
.contact-menu-label {
  color: #ffffff;
  border-bottom: 3px solid #703901;
  float: left;
  width: 110px;
  padding: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
}

.contact-menu:hover .sub-menu-5 {
  display: block;
  border-bottom: 3px solid #472400;
}

.contact-menu:hover {
  border-bottom: none;
}

.contact-menu-label:hover {
  border-bottom: 3px solid #703901;
}

.sub-menu-5 {
  display: none;
  position: absolute;
  margin: 10px;
  left: 565px;
  background: url(images/templatemo_menu_bg.gif);
  top: 29px;
  border-bottom: 3px solid #472400;
}

/* end of contact menu */

/* Accounts */

.accounts-menu-label {
  color: #ffffff;
  border-bottom: 3px solid #703901;
  float: left;
  width: 110px;
  padding: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
}

.accounts-menu:hover .sub-menu-6 {
  display: block;
  border-bottom: 3px solid #472400;
}

.accounts-menu:hover {
  border-bottom: none;
}

.accounts-menu-label:hover {
  border-bottom: 3px solid #703901;
}

.sub-menu-6 {
  display: none;
  position: absolute;
  margin: 10px;
  left: 680px;
  background: url(images/templatemo_menu_bg.gif);
  top: 29px;
  border-bottom: 3px solid #472400;
}
/* end of account */

/*end of menu section*/

/*banner*/
#templatemo_banner_panel {
  position: relative;
  width: 100%;
  top: 10px;
}

#ban {
  position: relative;
  width: 100%;
}

/*end of banner*/
/*news*/

#templatemo_news_panel {
  position: relative;
  height: 25px;
  background: url(images/templatemo_menu_bg.gif) repeat-x;
  color: #ffffff;
  display: flex;
  top: 15px;
}
#templatemo_textupd_section {
  width: calc(100% - 105px);
  overflow: hidden;
}

#templatemo_news_section {
  width: 105px;
}

#templatemo_news_section ul {
  /* float: left; */
  /* width: 930px; */
  margin: 0;
  /* position: relative; */
  /* top: 3px; */
  list-style: none;
  padding-left: 20px;
  padding-top: 4px;
}

#templatemo_textupd_section ul {
  float: left;
  width: 930px;
  margin: 0;
  position: relative;
  left: -10px;
  top: 3px;
  list-style: none;
  flex-wrap: nowrap;
}

#templatemo_news_section ul li a {
  float: left;
  /* width: 110px; */
  /* padding: 0px 0; */
  /* position: absolute; */
  /* margin-right: 5px; */
  font-size: 12px;
  font-weight: bold;
  /* text-align: center; */
  text-decoration: none;
  color: #ffffff;
  border-bottom: 3px solid #472400;
  /* z-index: 200; */
}

#templatemo_textupd_section ul li a {
  float: left;
  display: flex;
  white-space: nowrap;
  width: 2400px;
  padding: 0px 0;
  right: 0px;
  position: absolute;
  left: 0;
  word-spacing: 1px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  transform: translateX(100%);
  animation: moving 50s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.templatemo_slider_section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 25px;
}

/* end of news*/

/*content slider */

#slider {
  width: 300px;
  height: 350px;
}
#slider2 {
  position: relative;
  width: 300px;
  height: 350px;
}

#slider3 {
  position: relative;
  width: 300px;
  height: 350px;
}

#slider4 {
  width: 300px;
  height: 350px;
}

.shiva-template {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}


.slider-image-box {
  width: 300px;
  height: 350px;

  cursor: pointer;
}

.hover-image {
  display: none;
}

.slider-image-box:hover .main-image {
  display: none;
}

.slider-image-box:hover .hover-image {
  display: block;
}
/* end of shiva image */
#templatemo_ourprograms_panel {
  margin: auto;
  color: #dbc1a7;

  display: flex;
  flex-direction: column;
  row-gap: 25px;

  margin-top: 60px;
}

#templatemo_ourprograms_section {
  background: url(images/templatemo_menu_bg.gif);
  width: 33%;
  align-self: center;
}

#templatemo_ourprograms_section ul {
  padding: 0;
}

#templatemo_ourprograms_section ul li {
  list-style: none;
  text-align: center;
}

#templatemo_ourprograms_section ul li a {
  list-style-type: none;
  color: #dbc1a7;
  font-size: 35px;
  text-decoration: none;
}

#templatemo_kas {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

#templatemo_ourprogs_k_panel {
  width: 25%;
  color: #ffffff;
}

#templatemo_ourprogs_k_section {
  background: url(images/templatemo_menu_bg.gif);
  height: 50px;
}

#templatemo_ourprogs_k_section ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

#templatemo_ourprogs_k_section ul li {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#templatemo_ourprogs_k_section ul li a {
  list-style-type: none;
  color: #dbc1a7;
  text-decoration: none;
  font-size: 20px;
}

#templatemo_ourprogs_s_panel {
  width: 25%;
  color: #dbc1a7;
}

#templatemo_ourprogs_s_section {
  background: url(images/templatemo_menu_bg.gif);
  height: 50px;
}

#templatemo_ourprogs_s_section ul li {
  list-style: none;
}

#templatemo_ourprogs_s_section ul li a {
  float: center;
  width: 930px;
  margin: 0;
  position: relative;
  right: -15px;
  top: 10px;
  list-style-type: none;
  color: #dbc1a7;
  font-size: 20px;
}

#templatemo_ourprogs_a_panel {
  width: 25%;
  color: #dbc1a7;
}

#templatemo_ourprogs_a_section {
  background: url(images/templatemo_menu_bg.gif);
  height: 50px;
}

#templatemo_ourprogs_a_section ul li {
  list-style: none;
}

#templatemo_ourprogs_a_section ul li a {
  float: center;
  width: 930px;
  margin: 0;
  position: relative;
  right: 10px;
  top: 10px;
  list-style-type: none;
  color: #dbc1a7;
  font-size: 20px;
}

.templatemo_our_prog_section {
  display: flex;
  justify-content: space-evenly;
}

#oslider {
  width: 350px;
  height: 400px;
}

#oslider2 {
  width: 350px;
  height: 400px;
}

#oslider3 {
  width: 350px;
  height: 400px;
}

#templatemo_oslide {
  margin-top: 25px;
}

/* end of slider */

#templatemo_Album_panel {
  width: 30%;
  height: 45px;
  margin: 0 auto;
  background: url(images/templatemo_menu_bg.gif);
  color: #ffffff;
  height: 50px;
  margin-top: 25px;
}

#templatemo_Album_section ul {
  padding: 0;
  margin: 0;
  height: 50px;
}

#templatemo_Album_section ul li {
  list-style: none;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#templatemo_Album_section ul li a {
  float: center;
  list-style-type: none;
  color: #dbc1a7;
  font-size: 25px;

  text-decoration: none;
}

/* end of album section*/

#Album_Photos {
  margin-top: 25px;
}

.Album_pic {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Album_pic img {
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.Album_pic img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

#templatemo_vmore_panel {
  width: 15%;
  height: 50px;
  margin: 0 auto;
  color: #ffffff;
  height: 50px;

  margin-top: 25px;
  padding-bottom: 25px;
}

#templatemo_vmore_section {
  background: url(images/templatemo_menu_bg.gif);
}

#templatemo_vmore_section ul {
  margin: 0;
  padding: 0;
  height: 50px;
}

#templatemo_vmore_section ul li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#templatemo_vmore_section ul li a {
  float: center;
  list-style-type: none;
  color: #dbc1a7;
  font-size: 20px;

  text-decoration: none;
}

/*bottom start*/
#templatemo_bottom_panel {
  
  margin: 0 auto;
  border-top: 5px solid #000000;
  background-color: #0c0600;
  background: #0c0600 url(images/templatemo_footer_bg.jpg) center top no-repeat;
}

#templatemo_bottom_section {
  width: 930px;
  margin: 0 auto;
  height: 150px;
  margin-top: 25px;

  display: flex;
  justify-content: space-evenly;
}

.templatemo_bottom_section_content {
  width: 270px;
}

.templatemo_bottom_section_content ul {
  padding: 0;
  margin: 2px;
}

.templatemo_bottom_section_content li {
  list-style: none;
}

.templatemo_bottom_section_content li a {
  color: #dbc1a7;
}

.templatemo_bottom_section_content .contact {
  position: relative;
  right: 35px;
}
